@import '/styles/ghcolors-syntax.css';
@import '/styles/syntax-atom-dark.css';

main {
  max-width: min(80ch, 100vw);
  margin-inline: auto;
  padding-inline: 1rem;
  margin-block-end: 20vh;
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
  line-height: 1.1;

  @media (max-width: 450px) {
    font-size: 2.5rem;
  }
}

main img,
main video {
  display: block;
  max-width: 80%;
  margin: 3rem auto;
}

main img,
main video,
main pre {
  border: solid 1px var(--near-bg);
}

.meta {
  color: var(--mid);
  border-inline-start: 1px solid;

  @media(max-width: 450px) {
    font-size: 0.75em;
  }
}

.meta p {
  margin: 0.5rem;
}

:not(pre)>code {
  font-size: .75em;
  padding: 0.05em .3em;
  display: inline-block;
  background-color: var(--near-bg);
  border-radius: 4px;
  border-bottom: 1px solid hsl(from var(--bg) h s calc(l + 30));

  @media(prefers-color-scheme: light) {
    border-bottom-color: hsl(from var(--bg) h s calc(l - 30));
  }
}

pre[class*="language-"] {
  font-size: 0.75em;
  position: relative;
  padding: 0;

  &::before {
    content: attr(data-lang);
    display: block;
    font-size: 0.75em;
    padding: 0.25rem 1rem;
    background-color: var(--near-bg);
    text-align: right;
    color: var(--mid);
    text-transform: uppercase;
  }

  & code {
    padding: 0.5rem;
    display: block;
  }
}

blockquote {
  font-style: italic;
  border-inline-start: 5px var(--near-bg) solid;
  margin-inline: 0;
  padding-inline: 1em;
}