{% macro searchBar(collection, placeholder = "Search ⌘K") %}
<div class="searchbar-wrapper">
  <button>
    <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M14.016 9.00482C14.016 10.662 12.6731 12.0048 11.0172 12.0048C9.3613 12.0048 8.01841 10.662 8.01841 9.00482C8.01841 7.34768 9.3613 6.00482 11.0172 6.00482C12.6731 6.00482 14.016 7.34768 14.016 9.00482ZM15.016 9.00482C15.016 11.214 13.2257 13.0048 11.0172 13.0048C10.082 13.0048 9.22178 12.6837 8.54074 12.1456L5.6912 14.9952L4.98409 14.2881L7.83921 11.433C7.32431 10.7597 7.01841 9.91799 7.01841 9.00482C7.01841 6.79568 8.80873 5.00482 11.0172 5.00482C13.2257 5.00482 15.016 6.79568 15.016 9.00482Z" fill="currentColor"/>
    </svg>
</button>
  <div class="searchbar" style="display: none;">
    <input type="search" id="search" placeholder="{{ placeholder }}" aria-label="Search" />
    <div class="search-results" hidden aria-live="polite" role="status"></div>
  </div>
</div>
<script type="module">
  import Fuse from 'https://cdn.jsdelivr.net/npm/fuse.js@7.1.0/dist/fuse.mjs'
  const collection = {{ collection | stripCollectionForSearch | dump | safe }}
  const fuse = new Fuse(collection, {
    keys: ['title', 'url', 'description'],
    includeScore: true,
    ignoreLocation: true,
    threshold: 0.3
  })
  const searchbar = document.querySelector('.searchbar')
  const input = searchbar.querySelector('input')
  const resultsDom = searchbar.querySelector('.search-results')
  const searchToggle = document.querySelector('.searchbar-wrapper button')
  if (window.innerWidth > 768) { searchbar.style.display = 'flex' }
  function updateSearchResults(newInput) {
    if (newInput.length < 3) {
      resultsDom.innerHTML = ''
      resultsDom.hidden = true
      return
    }
    const searchResults = fuse.search(newInput)
    resultsDom.hidden = false
    if (!searchResults.length) {
      resultsDom.innerHTML = '<p>No results found</p>'
    } else {
      console.log('hits', resultsDom, searchResults)
      resultsDom.innerHTML = `<ul>${
        searchResults.map(({ item }) => 
          `<li><a href="${item.url}">${item.title}<span>${item.contentType}</span></a></li>`).join('')
      }</ul>`
    }
  }
  input.addEventListener('input', (event) => {
    updateSearchResults(event.target.value)
  })
  // You know I had to do it to 'em
  document.addEventListener('keydown', (event) => {
    if (event.key === 'k' && event.metaKey) {
      event.preventDefault()
      input.focus()
      input.select()
    }
  })

  function toggleSearchBar(e) {
    console.log(e, this)
    searchbar.style.display = searchbar.style.display === 'none' ? 'block' : 'none'
    if (!searchbar.style.display) {
      input.focus()
    }
  }

  searchToggle.addEventListener('click', toggleSearchBar)
</script>
{% endmacro %}
