---
title: Frank Noirot
layout: layouts/base.njk
stylesheet: home
---
<h1>{{ title }}</h1>

A (software) design engineer based in Brooklyn, writing about cities or whatever comes to mind. This is a digital garden, so all work is in-progress. <a href="https://bsky.app/profile/franknoirot.co" rel="noreferrer noopener" target="_blank">Come talk to me on Bluesky.</a>

{% for type in contentTypes %}
<a href="/{{ type.name }}">
  <h2>{{type.name | capitalize }}&nbsp;<small>{{ collections[type.name].length }} items<small></h2></a>
<ul class="grid">
  {%- assign sortedCollection = collections[type.name] | sortByKey: 'data.updated', true | head: 12 -%}
  {% for item in sortedCollection %}
  {% include 'components/grid-card' type: type.name item: item %}{% endfor %}
</ul>{% endfor %}
